


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
             <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="Translator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Translator
        </NavLink>
      </div>
    </div>
 


@code {
   
}
